//Alterar el comportamiento global del DOM generado (no del template0
:host {
  display: flex;
  justify-content: center;
  //margin: 100px 0px; //top-100, right: 0
  margin-top: 100px;
  margin-right: 0px;
}

.mat-form-field {
  width: 100%;
  min-width: 400px;
}

mat-card-title {
  margin-bottom: 40px;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

.button {
  display: flex;
  justify-content: flex-end;
}
