<h1 mat-dialog-title>
    Registrar Comentario
</h1>
<form #commentForm="ngForm" (ngSubmit)="commentForm.form.valid && sendCommentSignal()">
    <div>
        <mat-form-field>
            <mat-label>Comentario</mat-label>
            <textarea id="txtcomment" name="txtcomment" #txtcomment="ngModel" required minlength="10" matInput
                [(ngModel)]="comment" cols="500"></textarea>
            <mat-hint *ngIf="txtcomment.invalid && (txtcomment.dirty || txtcomment.touched)" class="alert alert-danger">
                <div *ngIf="txtcomment.errors?.['required']">
                    El comentario es requerido
                </div>
                <div *ngIf="txtcomment.errors?.['minlength']">
                    La longitud minima para ingresar el comentario es de 10 caracteres
                </div>
            </mat-hint>
        </mat-form-field>
    </div>
    <div align="end">
        <button mat-button mat-dialog-close>Cancelar</button>
        <button type="submit" mat-button color="primary">Registrar</button>
    </div>
</form>